        <footer class="footer footer-center p-4 bg-neutral text-base-content">
            <div>
                <p>Made by Diss - <a href="https://github.com/dissurender" class=" font-semibold">GitHub</a></p>
            </div>
        </footer>
    </body>
</html>