<div class="navbar bg-neutral">
  <div class="navbar-start">
    <% if (nav) { %>
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <div class="avatar">
          <div class="w-12 rounded-full">
            <img src="https://i.pravatar.cc/48?u=<%- user.usuerName %>" />
          </div>
        </div>

      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a href="/feed">Home</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </div>
    <% } %>
  </div>
  <div class="navbar-center">
    <a href="/" class="normal-case text-xl">Shelf Life</a>
  </div>
  <div class="navbar-end"></div>
</div>
