<%- include('partials/header') -%>

            <div class="w-full min-h-screen bg-inherit pt-16">
                <div class="hero-content h-96 text-center bg-neutral-focus">
                  <div class="max-w-md">
                    <h1 class="text-5xl font-bold">Welcome</h1>
                    <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                    <div class="row justify-content-around mt-5">
                        <a href="/login" class="col-3 btn btn-primary mx-2"> Login</a>
                        <a href="/signup" class="col-3 btn btn-primary mx-2"> Signup</a>
                    </div>
                  </div>
                </div>
            </div>

<%- include('partials/footer') -%>
